body{
    box-sizing: border-box;
    margin: 0;
}

header{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header{
    color: white;
    margin: 0;
    padding: 0;
}

.idioma{
    color: white;
    margin: 0;
    margin-right: 15px;
}

nav{
    display: flex;
    background-color: rgb(242, 170, 37);
    justify-content: space-between;
    align-items: center;
   
}

.der{
    margin-right: 20px;
    padding: 3px;
    color: white;
    cursor: pointer;
}

section{
    display: flex;
}

.turquesa{
    width: 100%;
    position: relative;
}
.medio{
    position: absolute;
}
.textoarriba1{
    background-color: white;
    font-size: 30px;
    right: 250px;
    bottom: 500px;
    padding: 10px;
}

.textoarriba2{
    font-size: 20px;
    right:300px;
    bottom: 470px;
}

.comederos{
    background-color: rgb(242, 170, 37);
    padding: 18px;
    color: white;
    right: 350px;
    bottom: 400px;
    border: none;
}

.encabezado{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 333;
}

.tipos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.tipos .tipo {
    width: 265px;
}

.tipos .tipo img{
    width: 100%;
}




footer{
    background-color: rgba(117, 5, 5, 0.81);
    padding: 10px;
}


